<h2><a name="music">Music</a></h2>

<h3>Bees of the Invisible (2018) <small><a href="https://gentlebrontosaurus.bandcamp.com/album/bees-of-the-invisible">Available now on Bandcamp</a></small></h3>

<iframe style="border: 0; width: 350px; height: 786px;" src="https://bandcamp.com/EmbeddedPlayer/album=3882988689/size=large/bgcol=ffffff/linkcol=2ebd35/transparent=true/" seamless><a href="http://gentlebrontosaurus.bandcamp.com/album/bees-of-the-invisible">Bees of the Invisible by Gentle Brontosaurus</a></iframe>

<h3>Names of Things and What They Do (2015) <small><a href="http://gentlebrontosaurus.bandcamp.com/album/names-of-things-and-what-they-do">Available now on Bandcamp</a></small></h3>
<img src="http://f4.bcbits.com/img/a0840441803_10.jpg" alt="Names of Things and What They Do" class="col-md-6 col-sm-6 col-xs-6 cover">

<div class="list-group col-md-6 col-sm-6 col-xs-6">
	<% @tracks.each do |track| %>
		<%= render template: 'tracks/show', locals: {track: track} %>
	<% end %>
</div>
