<div class="row">
	<h1><a name="news">News</a></h1>
  <ul class="pagination pagination-lg pull-right">
    <li class="disabled" id="news-prev">
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li id="news-next">
      <a href="#" aria-label="Next" id="news-next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</div>
<div class="row">
	<div class="col-md-6">
		<ul id="news-left">
		</ul>
	</div>
	<div class="col-md-6">
		<ul id="news-right">
		</ul>
	</div>
</div>