<h1><a name="about-us">About Us</a></h1>

<div>
	<blockquote>
	  <p>Seems like a band that'd be at home filling a big venue or playing your end-of-summer backyard BBQ party.</p>
	  <footer><cite title="Expansionista!">Expansionista! issue #4</cite></footer>
	</blockquote>
	<blockquote>
		<p>Really delicious twee pop, along the lines of Camera Obscura and Velocity Girl, with a nice interplay between male and female voices.</p>
		<footer><cite title="PolaroidBlog">Polaroid Blog (in Italian)</cite></footer>
	</blockquote>
</div>

<div class="col-md-6">
	<h2>Ingredients</h2>
<dl>
	<dt>Huan-Hua</dt>
	<dd>Ukulele, keyboard, vocals</dd>

	<dt>Michael</dt>
	<dd>Bass, vocals</dd>

	<dt>Cal</dt>
	<dd>Guitar</dd>

	<dt>Nick</dt>
	<dd>Keyboard, trumpet, vocals</dd>

	<dt>Paul</dt>
	<dd>Drums</dd>
</dl>
</div>
<img src="/gb_1.jpg" alt="band photo" class="col-md-6" />
