<h2><a name="about-us">About Us</a></h2>
<div class='about col-md-12'>
	<div class="ingredients col-md-6">
		<h3>Ingredients</h3>
		<dl>
			<dt>Huan-Hua</dt>
			<dd>Ukulele, keyboard, vocals</dd>

			<dt>Anneliese</dt>
			<dd>Bass, vocals</dd>

			<dt>Cal</dt>
			<dd>Guitar, vocals</dd>

			<dt>Nick</dt>
			<dd>Keyboard, trumpet, vocals</dd>

			<dt>Paul</dt>
			<dd>Drums, vocals</dd>
		</dl>
	</div>
	<div class="adulation col-md-6">
		<h3>Adulation</h3>
		<blockquote>
		  <p>Seems like a band that'd be at home filling a big venue or playing your end-of-summer backyard BBQ party.</p>
		  <footer><cite title="Expansionista!">Expansionista! issue #4</cite></footer>
		</blockquote>
		<blockquote>
			<p>Really delicious twee pop, along the lines of Camera Obscura and Velocity Girl, with a nice interplay between male and female voices.</p>
			<footer><cite title="PolaroidBlog">Polaroid Blog (in Italian)</cite></footer>
		</blockquote>
	</div>
</div>