<h2><a name="friends">Friends</a></h2>
<a class="btn btn-primary" href="https://www.facebook.com/heavylooksband/" role="button">Heavy Looks</a>
<a class="btn btn-primary" href="https://www.facebook.com/earthlingsband/" role="button">The Earthlings</a>
<a class="btn btn-primary" href="https://www.facebook.com/TheWerewolverine/" role="button">The Werewolverine</a>
<a class="btn btn-primary" href="https://www.facebook.com/owlsfoxesandsebastian/" role="button">Owls, Foxes, and Sebastian</a>
<a class="btn btn-primary" href="https://www.facebook.com/skylinesoundsmusic/" role="button">Skyline Sounds</a>
<a class="btn btn-primary" href="https://www.facebook.com/civilengineerstheband/" role="button">The Civil Engineers</a>

<% # Related bands %>
<a class="btn btn-success" href="https://www.facebook.com/squarebombs/" role="button">The Square Bombs</a>
<a class="btn btn-success" href="https://www.facebook.com/thefernsmadison/" role="button">The Ferns</a>
<a class="btn btn-success" href="https://www.facebook.com/theseekingmachines/" role="button">The Seeking Machines</a>

<% # Inactive bands %>
<a class="btn btn-default" href="https://www.facebook.com/TLDRband/" role="button">TL;DR</a>
<a class="btn btn-default" href="https://www.facebook.com/redtapediaries/" role="button">Red Tape Diaries</a>
<a class="btn btn-default" href="https://www.facebook.com/WallofFunk/" role="button">Wall of Funk</a>