<nav class="navbar">
	<a href="https://gentlebrontosaurus.bandcamp.com" class="svg"><object type="image/svg+xml" data="/bandcamp.svg"></object></a>
	<a href="https://www.facebook.com/GentleBrontosaurus/" class="svg"><object type="image/svg+xml" data="/facebook.svg"></object></a>
	<%= image_tag "gb_logo", class: "logo center" %>
	<a href="/"><h1 class="navbar-brand center">Gentle Brontosaurus</h1></a>
	<a href="https://soundcloud.com/gentle-brontosaurus" class="svg"><object type="image/svg+xml" data="/soundcloud.svg"></object></a>
	<a href="https://twitter.com/GentleBronto" class="svg">
		<object type="image/svg+xml" data="/twitter.svg"></object>
	</a>
</nav>