<img src="http://f4.bcbits.com/img/a0840441803_10.jpg" alt="Names of Things and What They Do" class="col-md-6 col-sm-6 col-xs-8 cover">
<div class="col-md-6">
	<iframe style="border: 0; width: 350px; height: 500px;" src="https://bandcamp.com/EmbeddedPlayer/album=1717899519/size=large/bgcol=ffffff/linkcol=de270f/artwork=none/transparent=true/" seamless><a href="http://gentlebrontosaurus.bandcamp.com/album/names-of-things-and-what-they-do">Names of Things and What They Do by Gentle Brontosaurus</a></iframe>
</div>
