<div>
<h2>Cal Lamore</h2>
<p>Once he was merely a man, but now he has a guitar for an arm, and he's come to take revenge on the yakuza that made him like this.</p>
<a href="https://www.facebook.com/thefernsmadison/">The Ferns</a>
</div>