<div>
<h2>Huan-Hua Chye</h2>
<p>Dual-wields keyboard and ukulele, and then surprise-attacks with vocals.</p>
<a href="http://tldr.bandcamp.com">TL;DR</a>
<a href="http://redtapediaries.bandcamp.com">Red Tape Diaries</a>
<a href="https://www.facebook.com/vowlsoundsmusic/">Vowl Sounds</a>
</div>